@font-face{
    font-family: Ubuntu;
    src: url(./Ubuntu-Bold.ttf);
}

*{
    font-family: Ubuntu;
}

body{
    background-color: #eeeeee;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.calculator-grid {
    border-radius: .5rem;
}

.calculator-button{
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 15px;
    padding: 30px;
    width: 350px;
    border-radius: 0 0 15px 15px;
}

.calculator-button p{
    background-color: #1D1D1D;
    border-radius: 15px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    cursor: pointer;
}

.calculator-button p:hover{
    background-color: #3a3838;
}

.purple{
    color: #874EFF;
}

.span-2{
    grid-column: span 2;
    width: 100%;
    background-color: #1D1D1D;
}

.output {
    background-color: #1D1D1D;
    width: auto;
    text-align: right;
    padding: 30px 30px 0;
    border-radius: 15px 15px 0 0;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 20px;
    height: 2.5rem;
}

.output .current-operand {
    color: white;
    font-size: 39px;
    height: 4rem;
}

.footer{
    text-align: center;
}